.about-row{
    padding-left: 100px;
    display: flex;
  }
.about-col{
    flex:50%;
    color: #52DBDC;
}
.education{
    margin:10px;  
}
.sub-education{
    margin: 10px;
}
#about-h1{
    text-align: center;
}
