body{
    background-color: black;
    color: darksalmon;
}
footer{
    background-color: darksalmon;
    color: black;
}
/*navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darksalmon;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: white;
  }

  .contactbox{
    float: center;
  }
  .contact-logo{
    width: 30px;
    height: 30px;
    padding: 10px;
  }

  .contactbox:hover{
    background-color: white;
  }