.intro p{
    padding:10px;
    margin-left:10px;
    margin-right: 10px;
    color: white;
}
.intro p{
    color:white;
    text-decoration: none;
}
.more p:hover{
    color: black;
}
.more{
    width: 20%;
    margin-left: 40%;
}
.more p{
    border-style: solid;
    border-radius: 50px;
    text-align: center;
}
.centered{
    width:100%;
}
.intro{
    background-color:rgba(181, 48, 33,.8);
    padding: 10px;
    text-align: center;
    color:white;
    position:absolute;
    top: 30%;
    left: 50%;
    width: 50%;
    height: 70%;
    transform: translate(-50%, -50%);
}
.container{
    position: relative;
    overflow: auto;
}
.container img{
    display: block;
    width: 100%;
}
