body{
    box-sizing: border-box;
    color:rgb(122, 122, 122);
  }
.content{
    width: auto;
    margin-left: 20%;
    margin-right: 5%;
}
body{
    margin: 0;
}

/*nav bar start*/
#EN a:hover{
    color:#b53021;
}
#EN{
    padding:32px;
    text-align:center;
}
#EN a{
    text-align: center;
    text-decoration: none;
    color:black;
}
.nav-bar img{
    display: block;
    width: 100%;
}
.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.nav-bar li.page{
    text-align: center;
}
.nav-bar li.page a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.nav-bar li.page a.active{
    background-color: #b53021;
    color: white;
}
.nav-bar li.page a:hover:not(.active){
    background-color: rgb(175, 175, 175);
    color: white;
}
/*nav bar end*/
/*title*/
.title{
    position: relative;
    text-align: center;
    color:#b53021;
}
.title .bg{
    width: 100%;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*footer*/
footer{
    text-align: center;
    margin:15px;
    width: 100%;
    margin-right: 0px;
    padding:10px;
    color:white;
    background-color: #b53021;
}
#footer-first-container{
    height: 120px;
}
.column{
    float:left;
}
.content .row2{
    margin: 20px;
    height: 80px;
}
.column img{
    width: 100%;
}
.row2 img{
    width: 30px;
    height: 30px;
    margin: 5px;
}
.left{
    width:25%;
}
.right{
    width:50%;
}
/*footer end*/

#name{
    text-align:center; 
    font-size: 8px;
    margin-left:15%; 
    color:black;
}
#law-sentence{
    text-align:center; 
    font-size: 12px;
    margin-left:15%; 
    color:black;
}