/* File name: Content.css */
#root {
  height: 100%;
  width: 100%;
  flex-direction: column;
  max-width: 100%; /* Prevent horizontal overflow */
  text-align: left;
  position: absolute; /* Ensure absolute positioning works correctly */
  overflow: visible;
  overflow-x: hidden;
  min-height: 200vh; /* Fix the 1--vh typo */
}

.contentDiv{
  display: block;
  width: 100%;
  max-width: 100%; /* Prevent horizontal overflow */
}
main {
   padding-left: 5%;
   padding-top: 5%;
   top: 0;
   z-index: 2; /* Ensure it is above the Three.js canvas */
   color: white;
   text-align: left;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   min-height: 200vh;
   box-sizing: border-box; /* Include padding in width and height */
 }

section {
   padding: 10px;
   margin: 50px;
 }

.mid-header {
   gap: 10px; /* Space between grid items */
   align-items: center;
 }