/* navbar.css */
nav {
  text-align: right;
  position: fixed;
  padding: 10px; /* Add some padding */
  width: 20%; /* Adjust width as needed */
  right: 5%; /* Position from the right edge */
  top: 50%; /* Position in the middle vertically */
  transform: translateY(-50%); /* Adjust for exact center */
  z-index: 1;
}

h3 {
  font-size: 1.5em;
}

nav a {
  color: white; /* Light text color */
  margin: 30px 0; /* Add space between links (vertical only) */
  text-decoration: none; /* Remove underline */
  font-size: 18px; /* Increase font size */
}

nav a:hover {
  color: #747bff; /* Change color on hover */
}